[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
nltk = "*"
mutagen = "*"
peewee = "*"
pygn = "*"
musicbrainzngs = "*"
rerun = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
scan = "python scan.py"
server = 'rerun "python router.py"'
frontend = 'npm run dev --prefix musicplayer-frontend/'
